.container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
}

.card, .i-profile img, .details, .center, a {
    transition: 700ms;
}

.card {
    position: absolute;
    margin-top: -15vh;
    width: 365px;
    height: 365px;
}

.i-profile {
    overflow: hidden;
    border-radius: 15px;
}

img {
    width: 100%;
}

.card:hover .i-profile img {
    opacity: 0.5;
    transform: translateX(30%);
    
}

.card:hover {
    cursor: pointer;
    border-radius: 15px;
    outline: 3px solid white;
    transition: 200ms;
}

.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1b858;
    transform-origin: left;
    transform: perspective(3000px) rotateY(-90deg);
}

.card:hover .details {
    transform: perspective(3000px) rotateY(0deg);
}

.details {
    border-radius: 15px;
}

.center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    margin: 0;
    padding: 0;
    color: #D76161;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

span {
    font-size: 14px;
    color: #262626;
}

p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}

.card .details .center ul {
    margin: 20px auto 0;
    padding: 0;
    display: table;
}

.card .details .center ul li {
    list-style: none;
    margin: 0 15px;
    float: left;
}

.card .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 3px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.card .details .center ul li a:hover {
    background: #f1b858;
    transition: 700ms;
}