.container-nav {
    padding-top: 25px;
    width: 100vw;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-home {
    padding-left: 30px;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.nav-home:hover {
    transition: 500ms;
    color: #f1b858;
}
